researchflow/workflows/n8n_workflow_research_production.json
{
  "name": "ResearchFlow - Investigacion profunda V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "researchflow",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "rf-0001",
      "name": "Webhook - Nueva investigacion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "notes": "Webhook estable de ResearchFlow V3.",
      "webhookId": "researchflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nombre",
              "name": "nombre",
              "value": "={{ $json.body?.nombre || $json.nombre || 'Investigador' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body?.email || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "whatsapp",
              "name": "whatsapp",
              "value": "={{ $json.body?.whatsapp || $json.whatsapp || '' }}",
              "type": "string"
            },
            {
              "id": "tema",
              "name": "tema",
              "value": "={{ $json.body?.tema || $json.tema || 'Tema sin titulo' }}",
              "type": "string"
            },
            {
              "id": "pregunta",
              "name": "pregunta",
              "value": "={{ ($json.body?.pregunta || $json.pregunta || '').trim() }}",
              "type": "string"
            },
            {
              "id": "url_fuente",
              "name": "url_fuente",
              "value": "={{ $json.body?.url_fuente || $json.url_fuente || '' }}",
              "type": "string"
            },
            {
              "id": "texto_fuente",
              "name": "texto_fuente",
              "value": "={{ $json.body?.texto_fuente || $json.texto_fuente || '' }}",
              "type": "string"
            },
            {
              "id": "tipo_entregable",
              "name": "tipo_entregable",
              "value": "={{ $json.body?.tipo_entregable || $json.tipo_entregable || 'articulo' }}",
              "type": "string"
            },
            {
              "id": "prioridad",
              "name": "prioridad",
              "value": "={{ $json.body?.prioridad || $json.prioridad || 'media' }}",
              "type": "string"
            },
            {
              "id": "canal_origen",
              "name": "canal_origen",
              "value": "={{ $json.body?.origen || $json.origen || 'landing_page' }}",
              "type": "string"
            },
            {
              "id": "modo",
              "name": "modo",
              "value": "={{ ($json.body?.pregunta || $json.pregunta || '').trim() ? 'investigar' : 'generar_preguntas' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "rf-0002",
      "name": "Normalizar solicitud",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO research_requests (nombre, email, whatsapp, tema, pregunta, url_fuente, texto_fuente, tipo_entregable, prioridad, canal_origen, modo, estado) VALUES ('{{ $json.nombre.replaceAll(\"'\", \"''\") }}', '{{ $json.email.replaceAll(\"'\", \"''\") }}', '{{ $json.whatsapp.replaceAll(\"'\", \"''\") }}', '{{ $json.tema.replaceAll(\"'\", \"''\") }}', '{{ $json.pregunta.replaceAll(\"'\", \"''\") }}', '{{ $json.url_fuente.replaceAll(\"'\", \"''\") }}', '{{ $json.texto_fuente.replaceAll(\"'\", \"''\") }}', '{{ $json.tipo_entregable.replaceAll(\"'\", \"''\") }}', '{{ $json.prioridad.replaceAll(\"'\", \"''\") }}', '{{ $json.canal_origen.replaceAll(\"'\", \"''\") }}', '{{ $json.modo }}', 'recibido') RETURNING id AS request_id;",
        "options": {}
      },
      "id": "rf-0003",
      "name": "Postgres - Registrar solicitud",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        0
      ],
      "notes": "Asignar credencial Postgres (base researchflow). Ejecutar database_schema_postgres.sql antes de activar.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value AS playbook FROM app_settings WHERE key='playbook_investigacion';",
        "options": {}
      },
      "id": "rf-0004",
      "name": "Postgres - Cargar playbook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        0
      ],
      "notes": "Carga la metodologia editable. Si falla o no existe, los prompts usan un playbook minimo embebido.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-modo",
              "leftValue": "={{ $('Normalizar solicitud').first().json.modo }}",
              "rightValue": "investigar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "rf-0005",
      "name": "IF - Con pregunta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, modo: 'investigacion', estado: 'en_proceso', request_id: $('Postgres - Registrar solicitud').first().json.request_id || null, mensaje: 'Investigacion iniciada. El articulo con graficos y fuentes llegara a tu correo en unos minutos.' } }}",
        "options": {}
      },
      "id": "rf-0006",
      "name": "Responder en proceso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        -140
      ],
      "notes": "Responde de inmediato a la landing; la investigacion sigue corriendo y entrega por Gmail/WhatsApp."
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(r) {\n  const parts = r?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p.text || '').join('\\n').trim();\n}\nfunction extractCitas(r) {\n  const out = [];\n  const seen = new Set();\n  const chunks = r?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\n  for (const ch of chunks) {\n    const web = ch.web || {};\n    if (web.uri && !seen.has(web.uri)) { seen.add(web.uri); out.push({ titulo: web.title || web.uri, url: web.uri }); }\n  }\n  return out;\n}\nfunction parseJsonText(text) {\n  if (!text) return null;\n  let t = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try { return JSON.parse(t); } catch (e) {\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e2) { return null; } }\n    return null;\n  }\n}\nconst esc = (v) => String(v == null ? '' : v).replace(/'/g, \"''\");\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst req = $('Normalizar solicitud').first().json;\nlet playbook = '';\ntry { playbook = $('Postgres - Cargar playbook').first().json.playbook || ''; } catch (e) { playbook = ''; }\nif (!playbook) {\n  playbook = 'Metodologia minima: parte de Wikipedia (intro, referencias, pagina de discusion), descubre el vocabulario tecnico, prioriza fuentes primarias y medios de investigacion original (Reuters, AP, BBC, The Economist), usa Our World in Data para estadisticas, aplica los 5 porques, separa hechos/hipotesis/opiniones y nunca inventes cifras ni fuentes.';\n}\nconst fuente = req.url_fuente || (req.texto_fuente ? 'Texto aportado: ' + req.texto_fuente.slice(0, 1500) : 'ninguna');\nconst prompt_base = [\n  'Eres ResearchFlow, asistente de investigacion profunda. Fase 1 de 3: BASE DEL TEMA.',\n  '',\n  'Metodologia preferida del usuario (adaptala al tipo de tema; no es camisa de fuerza):',\n  playbook,\n  '',\n  'Tarea de esta fase (usa busqueda web):',\n  '1. Establece la verdad basica del tema (estilo introduccion de Wikipedia) citando fuentes.',\n  '2. Lista el vocabulario tecnico clave del tema en espanol e ingles.',\n  '3. Identifica las controversias o debates reales alrededor del tema.',\n  '4. Lista entre 5 y 10 hechos base, cada uno con su fuente.',\n  '5. Sugiere que angulos merecen profundizarse en la siguiente fase.',\n  'No inventes cifras ni fuentes. Si el tema es local o nicho, busca prensa local seria y datos oficiales del pais.',\n  '',\n  'Tema: ' + req.tema,\n  'Pregunta central: ' + req.pregunta,\n  'Fuente inicial aportada por el usuario: ' + fuente\n].join('\\n');\nreturn [{ json: { ...req, playbook, prompt_base } }];\n"
      },
      "id": "rf-0007",
      "name": "Preparar fase base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt_base }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "rf-0008",
      "name": "Gemini - Fase base con busqueda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -140
      ],
      "notes": "Fase 1: base del tema con Google Search grounding.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(r) {\n  const parts = r?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p.text || '').join('\\n').trim();\n}\nfunction extractCitas(r) {\n  const out = [];\n  const seen = new Set();\n  const chunks = r?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\n  for (const ch of chunks) {\n    const web = ch.web || {};\n    if (web.uri && !seen.has(web.uri)) { seen.add(web.uri); out.push({ titulo: web.title || web.uri, url: web.uri }); }\n  }\n  return out;\n}\nfunction parseJsonText(text) {\n  if (!text) return null;\n  let t = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try { return JSON.parse(t); } catch (e) {\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e2) { return null; } }\n    return null;\n  }\n}\nconst esc = (v) => String(v == null ? '' : v).replace(/'/g, \"''\");\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst prev = $('Preparar fase base').first().json;\nconst resp = $input.first().json || {};\nconst base_texto = extractText(resp) || 'La fase base no devolvio texto (API sin configurar o error). Trabaja con conocimiento general y marca todo como requiere_verificacion.';\nconst citas_base = extractCitas(resp);\nconst prompt_profundizar = [\n  'Eres ResearchFlow. Fase 2 de 3: PROFUNDIZACION. Ya tienes la base del tema; ahora busca el PORQUE y los DATOS.',\n  '',\n  'Tarea de esta fase (usa busqueda web):',\n  '1. Aplica los 5 porques a la pregunta central: encadena causas hasta la causa estructural.',\n  '2. Busca DATOS NUMERICOS concretos y recientes (estadisticas, series temporales, comparaciones) SIEMPRE con su fuente. Prioriza Our World in Data, organismos oficiales y datos primarios.',\n  '3. Contrasta al menos dos fuentes de calidad distinta y anota que tan confiables son (incentivo del medio).',\n  '4. Registra hipotesis y opiniones encontradas, separadas de los hechos.',\n  '5. Si encuentras cifras que se contradicen entre fuentes, reportalo.',\n  'No inventes cifras. Cada numero que reportes debe tener URL de fuente.',\n  '',\n  'Tema: ' + prev.tema,\n  'Pregunta central: ' + prev.pregunta,\n  '',\n  'HALLAZGOS DE LA FASE BASE:',\n  base_texto\n].join('\\n');\nreturn [{ json: { ...prev, base_texto, citas_base, prompt_profundizar } }];\n"
      },
      "id": "rf-0009",
      "name": "Preparar profundizacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt_profundizar }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "rf-0010",
      "name": "Gemini - Profundizar con busqueda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -140
      ],
      "notes": "Fase 2: 5 porques y datos numericos con fuente, con Google Search grounding.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(r) {\n  const parts = r?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p.text || '').join('\\n').trim();\n}\nfunction extractCitas(r) {\n  const out = [];\n  const seen = new Set();\n  const chunks = r?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\n  for (const ch of chunks) {\n    const web = ch.web || {};\n    if (web.uri && !seen.has(web.uri)) { seen.add(web.uri); out.push({ titulo: web.title || web.uri, url: web.uri }); }\n  }\n  return out;\n}\nfunction parseJsonText(text) {\n  if (!text) return null;\n  let t = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try { return JSON.parse(t); } catch (e) {\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e2) { return null; } }\n    return null;\n  }\n}\nconst esc = (v) => String(v == null ? '' : v).replace(/'/g, \"''\");\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst prev = $('Preparar profundizacion').first().json;\nconst resp = $input.first().json || {};\nconst prof_texto = extractText(resp) || 'La fase de profundizacion no devolvio texto.';\nconst citas_prof = extractCitas(resp);\nconst vistas = new Set();\nconst citas_total = [];\nfor (const c of arr(prev.citas_base).concat(citas_prof)) {\n  if (c && c.url && !vistas.has(c.url)) { vistas.add(c.url); citas_total.push(c); }\n}\nconst prompt_sintesis = [\n  'Eres ResearchFlow. Fase 3 de 3: SINTESIS. No busques en la web: trabaja SOLO con los hallazgos de las fases anteriores.',\n  'Reglas duras: no inventes cifras ni fuentes; toda afirmacion factual lleva fuente_url tomada de las citas disponibles o de los hallazgos; hipotesis y opiniones van separadas de los hechos; si no hay cifras confiables con fuente, \"datasets\" debe ser [].',\n  '',\n  'Tema: ' + prev.tema,\n  'Pregunta central: ' + prev.pregunta,\n  'Tipo de entregable: ' + (prev.tipo_entregable || 'articulo'),\n  '',\n  'HALLAZGOS FASE BASE:',\n  prev.base_texto || '',\n  '',\n  'HALLAZGOS FASE PROFUNDIZACION:',\n  prof_texto,\n  '',\n  'CITAS WEB DISPONIBLES (usa estas URLs como fuente_url):',\n  citas_total.length ? citas_total.map(c => '- ' + c.titulo + ' :: ' + c.url).join('\\n') : '- (sin citas web; marca las afirmaciones como requiere_verificacion)',\n  '',\n  'Devuelve SOLO un objeto JSON valido con exactamente esta forma:',\n  '{',\n  '  \"resumen\": \"3 a 5 frases\",',\n  '  \"respuesta_corta\": \"respuesta directa a la pregunta central en 1 o 2 frases\",',\n  '  \"hechos\": [{\"afirmacion\": \"...\", \"fuente_url\": \"...\"}],',\n  '  \"hipotesis\": [\"...\"],',\n  '  \"opiniones\": [\"...\"],',\n  '  \"cinco_porques\": [\"por que 1: ...\", \"por que 2: ...\"],',\n  '  \"datasets\": [{\"titulo\": \"...\", \"descripcion\": \"...\", \"tipo_grafico\": \"barras|pastel|lineas\", \"fuente_principal\": \"url\", \"datos\": [{\"etiqueta\": \"...\", \"valor\": 0, \"unidad\": \"...\", \"periodo\": \"...\", \"fuente_url\": \"...\"}]}],',\n  '  \"articulo_markdown\": \"articulo en markdown con secciones: la pregunta y por que importa; respuesta corta; los hechos; el porque; lo que no se sabe; conclusiones\",',\n  '  \"preguntas_abiertas\": [\"...\"],',\n  '  \"fuentes\": [{\"titulo\": \"...\", \"url\": \"...\", \"tipo\": \"primaria|medio_investigacion|analisis|otro\", \"confianza\": \"alta|media|baja\"}]',\n  '}'\n].join('\\n');\nreturn [{ json: { ...prev, prof_texto, citas_total, prompt_sintesis } }];\n"
      },
      "id": "rf-0011",
      "name": "Preparar sintesis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt_sintesis }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json' } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "rf-0012",
      "name": "Gemini - Sintesis estructurada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -140
      ],
      "notes": "Fase 3: sintesis en JSON estricto (sin busqueda; responseMimeType application/json). V3: tres intentos antes de declarar la sintesis no auditable.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "\nconst array = (value) => Array.isArray(value) ? value : [];\nconst previous = $input.first().json;\nconst result = previous.sintesis_reconciliada || {};\nconst audit = previous.auditoria || {\n  estado: 'no_disponible', puntaje: null, nivel: 'no_disponible', calidad_fuentes: 'no_disponible',\n  veredicto: 'Verificacion no disponible.', hechos: [], datos: [], fuentes: [], contradicciones: [], limitaciones: [], recomendaciones: [],\n};\nconst summary = String(result.resumen || ('No se pudo completar la sintesis automatica para \"' + previous.tema + '\".'));\nconst shortAnswer = String(result.respuesta_corta || 'Sin respuesta automatica; requiere revision manual.');\nconst facts = array(result.hechos).filter((item) => item?.afirmacion);\nconst pending = array(previous.pendientes_verificacion).filter((item) => item?.afirmacion);\nconst hypotheses = array(result.hipotesis).map(String).filter(Boolean);\nconst opinions = array(result.opiniones).map(String).filter(Boolean);\nconst whys = array(result.cinco_porques).map(String).filter(Boolean);\nconst openQuestions = array(result.preguntas_abiertas).map(String).filter(Boolean);\nconst contradictions = array(audit.contradicciones);\nconst limitations = array(audit.limitaciones).map(String).filter(Boolean);\nconst sources = array(result.fuentes).map((source) => ({\n  titulo: String(source?.titulo || source?.url || ''),\n  url: String(source?.url || ''),\n  tipo: String(source?.tipo || 'otro'),\n  confianza: String(source?.confianza || 'media'),\n})).filter((source) => source.url);\n\nconst palette = ['#2563eb', '#f59e0b', '#10b981', '#ef4444', '#8b5cf6', '#14b8a6', '#f43f5e', '#84cc16'];\nconst charts = [];\nconst validDatasets = [];\nfor (const dataset of array(result.datasets)) {\n  const points = array(dataset?.datos).filter((point) => point && point.etiqueta != null && Number.isFinite(Number(point.valor)) && point.fuente_url);\n  if (points.length < 2) continue;\n  const type = ['lineas', 'pastel', 'barras'].includes(dataset.tipo_grafico) ? dataset.tipo_grafico : 'barras';\n  const chartType = type === 'lineas' ? 'line' : (type === 'pastel' ? 'pie' : 'bar');\n  const labels = points.map((point) => String(point.etiqueta).slice(0, 40));\n  const values = points.map((point) => Number(point.valor));\n  const config = {\n    type: chartType,\n    data: { labels, datasets: [{ label: String(dataset.titulo || previous.tema).slice(0, 80), data: values, backgroundColor: chartType === 'bar' ? palette[0] : palette.slice(0, values.length) }] },\n    options: { plugins: { title: { display: true, text: String(dataset.titulo || '').slice(0, 90) }, legend: { display: chartType !== 'bar' } } },\n  };\n  const url = 'https://quickchart.io/chart?w=620&h=360&bkg=white&c=' + encodeURIComponent(JSON.stringify(config));\n  const source = String(dataset.fuente_principal || points[0].fuente_url);\n  charts.push({ titulo: String(dataset.titulo || ''), tipo: type, url, fuente: source });\n  validDatasets.push({\n    titulo: String(dataset.titulo || ''),\n    descripcion: String(dataset.descripcion || ''),\n    tipo_grafico: type,\n    fuente_principal: source,\n    datos: points,\n    quickchart_url: url,\n  });\n}\n\nconst verificationLabel = audit.puntaje == null\n  ? (audit.estado === 'no_aplicable' ? 'No aplicable' : 'No disponible')\n  : audit.puntaje + '/100 (' + audit.nivel + ')';\nconst markdown = [];\nmarkdown.push('# ' + previous.tema, '');\nmarkdown.push('**Pregunta central:** ' + previous.pregunta, '');\nmarkdown.push('**Respuesta corta:** ' + shortAnswer, '');\nmarkdown.push('## Verificacion adversarial');\nmarkdown.push('- Puntaje de verificacion: ' + verificationLabel);\nmarkdown.push('- Estado: ' + audit.estado);\nmarkdown.push('- Calidad de fuentes: ' + audit.calidad_fuentes);\nmarkdown.push('- ' + audit.veredicto, '');\nmarkdown.push('## Resumen', summary, '');\nmarkdown.push('## Hechos verificados');\nif (facts.length) for (const fact of facts) markdown.push('- ' + fact.afirmacion + ' [fuente: ' + fact.fuente_url + ']');\nelse markdown.push('- No hay hechos que hayan superado la auditoria.');\nmarkdown.push('');\nif (pending.length) {\n  markdown.push('## Afirmaciones pendientes de verificacion');\n  for (const item of pending) markdown.push('- [' + item.estado + '] ' + item.afirmacion + (item.nota ? ' — ' + item.nota : ''));\n  markdown.push('');\n}\nif (contradictions.length) {\n  markdown.push('## Contradicciones detectadas');\n  for (const item of contradictions) markdown.push('- [' + String(item.gravedad || 'media') + '] ' + String(item.descripcion || item));\n  markdown.push('');\n}\nif (whys.length) { markdown.push('## El porque (5 porques)'); for (const item of whys) markdown.push('- ' + item); markdown.push(''); }\nif (hypotheses.length) { markdown.push('## Hipotesis'); for (const item of hypotheses) markdown.push('- ' + item); markdown.push(''); }\nif (opinions.length) { markdown.push('## Opiniones registradas'); for (const item of opinions) markdown.push('- ' + item); markdown.push(''); }\nif (limitations.length) { markdown.push('## Limitaciones'); for (const item of limitations) markdown.push('- ' + item); markdown.push(''); }\nmarkdown.push('## Graficos');\nif (charts.length) for (const chart of charts) markdown.push('- ' + (chart.titulo || chart.tipo) + ': ' + chart.url + ' (fuente: ' + chart.fuente + ')');\nelse markdown.push('- No hay al menos dos puntos numericos verificados por dataset; se omiten los graficos.');\nmarkdown.push('');\nif (openQuestions.length) { markdown.push('## Preguntas abiertas'); for (const item of openQuestions) markdown.push('- ' + item); markdown.push(''); }\nmarkdown.push('## Fuentes');\nif (sources.length) for (const source of sources) markdown.push('- [' + source.tipo + ', confianza ' + source.confianza + '] ' + source.titulo + ' - ' + source.url);\nelse markdown.push('- Sin fuentes registradas.');\nconst reportMarkdown = markdown.join('\\n');\n\nfunction escapeHtml(value) {\n  return String(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\n}\nconst articleHtml = escapeHtml(reportMarkdown)\n  .replace(/^### (.*)$/gm, '<h3>$1</h3>')\n  .replace(/^## (.*)$/gm, '<h2>$1</h2>')\n  .replace(/^# (.*)$/gm, '<h1>$1</h1>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/^- (.*)$/gm, '<li>$1</li>')\n  .replace(/\\n{2,}/g, '<br><br>');\nconst badgeColor = audit.puntaje == null ? '#64748b' : (audit.nivel === 'alto' ? '#15803d' : (audit.nivel === 'medio' ? '#a16207' : '#b91c1c'));\nconst chartsHtml = charts.map((chart) => '<div style=\"margin:16px 0\"><img src=\"' + chart.url + '\" alt=\"' + escapeHtml(chart.titulo) + '\" style=\"max-width:100%;border-radius:8px\"><br><small>Fuente: ' + escapeHtml(chart.fuente) + '</small></div>').join('');\nconst emailHtml = '<div style=\"font-family:Segoe UI,Arial,sans-serif;max-width:680px;margin:auto;color:#111\">'\n  + '<p style=\"background:' + badgeColor + ';color:white;padding:10px 14px;border-radius:8px\">Verificacion: ' + escapeHtml(verificationLabel) + '</p>'\n  + articleHtml\n  + (chartsHtml ? '<h2>Graficos</h2>' + chartsHtml : '')\n  + '<p><small>El puntaje mide cobertura de verificacion, no certeza absoluta.</small></p></div>';\nconst whatsappText = ('ResearchFlow completo \"' + previous.tema + '\". Verificacion: ' + verificationLabel + '. ' + shortAnswer + ' El articulo completo llego a tu correo.').slice(0, 900);\n\nlet requestId = 0;\ntry { requestId = Number($('Postgres - Registrar solicitud').first().json.request_id || 0); } catch (error) { requestId = 0; }\nconst evidence = [];\nfor (const fact of facts) evidence.push({ tipo: 'hecho', afirmacion: fact.afirmacion, soporte: fact.fuente_url, confianza: 'alta' });\nfor (const item of pending) evidence.push({ tipo: 'afirmacion_pendiente', afirmacion: item.afirmacion, soporte: item.estado, confianza: 'baja' });\nfor (const item of hypotheses) evidence.push({ tipo: 'hipotesis', afirmacion: item, soporte: 'requiere_verificacion', confianza: 'media' });\nfor (const item of opinions) evidence.push({ tipo: 'opinion', afirmacion: item, soporte: 'atribuida', confianza: 'baja' });\nconst persistPayload = {\n  request_id: requestId,\n  tema: String(previous.tema || ''),\n  fuentes: sources.slice(0, 60),\n  evidencias: evidence.slice(0, 80),\n  datasets: validDatasets,\n  artifact: { titulo: String(previous.tema || ''), contenido: reportMarkdown },\n};\nconst verificationParams = [\n  requestId,\n  String(previous.execution_id || ''),\n  String(audit.estado || 'no_disponible'),\n  audit.puntaje == null ? null : Number(audit.puntaje),\n  String(audit.nivel || 'no_disponible'),\n  String(audit.calidad_fuentes || 'no_disponible'),\n  'gemini-2.5-flash',\n  JSON.stringify(array(audit.hechos)),\n  JSON.stringify(array(audit.datos)),\n  JSON.stringify(array(audit.fuentes)),\n  JSON.stringify(array(audit.contradicciones)),\n  JSON.stringify(array(audit.limitaciones)),\n  JSON.stringify(audit.respuesta_cruda ?? null),\n  JSON.stringify(audit.respuesta_validada ?? null),\n  String(audit.veredicto || ''),\n];\nconst finalState = ['completa', 'parcial'].includes(audit.estado) ? 'completado_v3_auditado' : 'completado_v3_sin_auditoria';\nconst sheetRows = [];\nfor (const dataset of validDatasets) for (const point of dataset.datos) sheetRows.push({\n  request_id: requestId,\n  tema: previous.tema,\n  dataset: dataset.titulo,\n  etiqueta: String(point.etiqueta),\n  valor: Number(point.valor),\n  unidad: String(point.unidad || ''),\n  periodo: String(point.periodo || ''),\n  fuente_url: String(point.fuente_url),\n});\n\nreturn [{ json: {\n  ...previous,\n  request_id: requestId,\n  estado_final: finalState,\n  resumen: summary,\n  respuesta_corta: shortAnswer,\n  hechos: facts,\n  pendientes_verificacion: pending,\n  hipotesis: hypotheses,\n  opiniones: opinions,\n  cinco_porques: whys,\n  preguntas_abiertas: openQuestions,\n  fuentes: sources,\n  graficos: charts,\n  datasets: validDatasets,\n  informe_markdown: reportMarkdown,\n  email_html: emailHtml,\n  whatsapp_text: whatsappText,\n  persist_payload_json: JSON.stringify(persistPayload),\n  verification_params: verificationParams,\n  sheet_rows: sheetRows,\n} }];\n"
      },
      "id": "rf-0013",
      "name": "Procesar resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        -140
      ],
      "notes": "Construye el entregable exclusivamente desde la sintesis reconciliada; solo grafica puntos verificados."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT $1::jsonb AS value\n), normalized AS (\n  SELECT\n    COALESCE((value->>'request_id')::int, 0) AS request_id,\n    value\n  FROM payload\n), inserted_sources AS (\n  INSERT INTO research_sources (request_id, titulo, url, tipo, calidad, confianza)\n  SELECT n.request_id, source.titulo, source.url, source.tipo, 'auditada_v3', source.confianza\n  FROM normalized AS n\n  CROSS JOIN LATERAL jsonb_to_recordset(COALESCE(n.value->'fuentes', '[]'::jsonb))\n    AS source(titulo text, url text, tipo text, confianza text)\n  WHERE n.request_id > 0 AND source.url <> ''\n  RETURNING id\n), inserted_evidence AS (\n  INSERT INTO research_evidence (request_id, tipo, afirmacion, soporte, confianza)\n  SELECT n.request_id, evidence.tipo, evidence.afirmacion, evidence.soporte, evidence.confianza\n  FROM normalized AS n\n  CROSS JOIN LATERAL jsonb_to_recordset(COALESCE(n.value->'evidencias', '[]'::jsonb))\n    AS evidence(tipo text, afirmacion text, soporte text, confianza text)\n  WHERE n.request_id > 0 AND evidence.afirmacion <> ''\n  RETURNING id\n), inserted_datasets AS (\n  INSERT INTO research_datasets (request_id, titulo, descripcion, datos_json, fuente_principal, tipo_grafico, quickchart_url, estado)\n  SELECT n.request_id, dataset.titulo, dataset.descripcion, dataset.datos::text,\n    dataset.fuente_principal, dataset.tipo_grafico, dataset.quickchart_url, 'verificado_v3'\n  FROM normalized AS n\n  CROSS JOIN LATERAL jsonb_to_recordset(COALESCE(n.value->'datasets', '[]'::jsonb))\n    AS dataset(titulo text, descripcion text, datos jsonb, fuente_principal text, tipo_grafico text, quickchart_url text)\n  WHERE n.request_id > 0\n  RETURNING id\n), inserted_artifact AS (\n  INSERT INTO research_artifacts (request_id, tipo, titulo, contenido, estado)\n  SELECT n.request_id, 'articulo', n.value->'artifact'->>'titulo', n.value->'artifact'->>'contenido', 'generado_v3'\n  FROM normalized AS n WHERE n.request_id > 0\n  RETURNING id\n)\nSELECT\n  (SELECT count(*) FROM inserted_sources) AS fuentes_insertadas,\n  (SELECT count(*) FROM inserted_evidence) AS evidencias_insertadas,\n  (SELECT count(*) FROM inserted_datasets) AS datasets_insertados,\n  (SELECT count(*) FROM inserted_artifact) AS artifacts_insertados;",
        "options": {
          "queryReplacement": "={{ [ $('Procesar resultado').first().json.persist_payload_json ] }}"
        }
      },
      "id": "rf-0014",
      "name": "Postgres - Guardar evidencia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4400,
        -140
      ],
      "notes": "Inserta fuentes, evidencia, datasets y artifact mediante un payload JSONB parametrizado.",
      "continueOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Procesar resultado').first().json.email }}",
        "subject": "={{ 'ResearchFlow - Investigacion: ' + $('Procesar resultado').first().json.tema }}",
        "emailType": "html",
        "message": "={{ $('Procesar resultado').first().json.email_html }}",
        "options": {}
      },
      "id": "rf-0015",
      "name": "Gmail - Enviar articulo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4620,
        -140
      ],
      "notes": "Asignar credencial Gmail OAuth2.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "42DoFh3hjEi0OKme",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution:8080/message/sendText/researchflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Procesar resultado').first().json.whatsapp, text: $('Procesar resultado').first().json.whatsapp_text } }}",
        "options": {}
      },
      "id": "rf-0016",
      "name": "Evolution API - Aviso WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4840,
        -140
      ],
      "notes": "Evolution API, instancia 'researchflow'. En docker-compose el host es http://evolution:8080; en local http://localhost:8080.",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE research_requests SET estado=$1, resumen=$2, informe_markdown=$3, updated_at=NOW() WHERE id=$4 RETURNING id, estado;",
        "options": {
          "queryReplacement": "={{ [ $('Procesar resultado').first().json.estado_final, $('Procesar resultado').first().json.resumen, $('Procesar resultado').first().json.informe_markdown, $('Procesar resultado').first().json.request_id ] }}"
        }
      },
      "id": "rf-0017",
      "name": "Postgres - Actualizar resultado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5060,
        -140
      ],
      "notes": "Actualizacion final parametrizada de ResearchFlow V3.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst res = $('Procesar resultado').first().json;\nconst rows = res.sheet_rows || [];\nreturn rows.map(r => ({ json: r }));\n"
      },
      "id": "rf-0018",
      "name": "Preparar filas Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        -140
      ],
      "notes": "Una fila por punto de dato; si no hubo datasets, no se agrega nada."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "datasets",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "rf-0019",
      "name": "Google Sheets - Registrar datos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5500,
        -140
      ],
      "notes": "Asignar credencial Google Sheets OAuth2. El ID del documento se lee de la variable de entorno GOOGLE_SHEET_ID (.env). Hoja: datasets.",
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "03Fo6YBhMsBcA7B2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(r) {\n  const parts = r?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p.text || '').join('\\n').trim();\n}\nfunction extractCitas(r) {\n  const out = [];\n  const seen = new Set();\n  const chunks = r?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\n  for (const ch of chunks) {\n    const web = ch.web || {};\n    if (web.uri && !seen.has(web.uri)) { seen.add(web.uri); out.push({ titulo: web.title || web.uri, url: web.uri }); }\n  }\n  return out;\n}\nfunction parseJsonText(text) {\n  if (!text) return null;\n  let t = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try { return JSON.parse(t); } catch (e) {\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e2) { return null; } }\n    return null;\n  }\n}\nconst esc = (v) => String(v == null ? '' : v).replace(/'/g, \"''\");\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst req = $('Normalizar solicitud').first().json;\nlet playbook = '';\ntry { playbook = $('Postgres - Cargar playbook').first().json.playbook || ''; } catch (e) { playbook = ''; }\nconst prompt_preguntas = [\n  'Eres ResearchFlow, asistente de investigacion. El usuario dio un TEMA sin pregunta central.',\n  'Genera entre 3 y 5 preguntas de investigacion sobre el tema.',\n  'Criterios: especificas, comprobables con evidencia, interesantes para compartir; mezcla angulos (datos, causas, mitos, impacto, futuro).',\n  playbook ? 'Metodologia del usuario (referencia):\\n' + playbook : '',\n  '',\n  'Tema: ' + req.tema,\n  (req.url_fuente || req.texto_fuente) ? 'Contexto aportado: ' + (req.url_fuente || '') + ' ' + (req.texto_fuente || '').slice(0, 500) : '',\n  '',\n  'Devuelve SOLO JSON valido con esta forma exacta:',\n  '{\"tema_refinado\": \"...\", \"preguntas\": [{\"pregunta\": \"...\", \"por_que_interesa\": \"...\", \"angulo\": \"datos|causas|mitos|impacto|futuro\"}]}'\n].filter(Boolean).join('\\n');\nreturn [{ json: { ...req, prompt_preguntas } }];\n"
      },
      "id": "rf-0020",
      "name": "Preparar peticion de preguntas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt_preguntas }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json' } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "rf-0021",
      "name": "Gemini - Generar preguntas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        260
      ],
      "notes": "Genera 3-5 preguntas investigables en JSON.",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(r) {\n  const parts = r?.candidates?.[0]?.content?.parts || [];\n  return parts.map(p => p.text || '').join('\\n').trim();\n}\nfunction extractCitas(r) {\n  const out = [];\n  const seen = new Set();\n  const chunks = r?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\n  for (const ch of chunks) {\n    const web = ch.web || {};\n    if (web.uri && !seen.has(web.uri)) { seen.add(web.uri); out.push({ titulo: web.title || web.uri, url: web.uri }); }\n  }\n  return out;\n}\nfunction parseJsonText(text) {\n  if (!text) return null;\n  let t = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  try { return JSON.parse(t); } catch (e) {\n    const m = t.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { return JSON.parse(m[0]); } catch (e2) { return null; } }\n    return null;\n  }\n}\nconst esc = (v) => String(v == null ? '' : v).replace(/'/g, \"''\");\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst req = $('Preparar peticion de preguntas').first().json;\nconst resp = $input.first().json || {};\nlet r = parseJsonText(extractText(resp));\nif (!r || !Array.isArray(r.preguntas) || !r.preguntas.length) {\n  r = { tema_refinado: req.tema, preguntas: [\n    { pregunta: 'Que dice la evidencia mas reciente sobre ' + req.tema + '?', por_que_interesa: 'Establece la base factual del tema', angulo: 'datos' },\n    { pregunta: 'Por que ocurre o crece ' + req.tema + '?', por_que_interesa: 'Busca las causas estructurales (5 porques)', angulo: 'causas' },\n    { pregunta: 'Que mitos circulan sobre ' + req.tema + ' y que dice la evidencia?', por_que_interesa: 'Separa hechos de opiniones', angulo: 'mitos' }\n  ] };\n}\nconst preguntas = arr(r.preguntas).map(p => ({\n  pregunta: String(p.pregunta || p || ''),\n  por_que_interesa: String(p.por_que_interesa || ''),\n  angulo: String(p.angulo || 'datos')\n})).filter(p => p.pregunta);\nlet reqId = 0;\ntry { reqId = Number($('Postgres - Registrar solicitud').first().json.request_id || 0); } catch (e) { reqId = 0; }\nconst lineas = preguntas.map((p, i) => (i + 1) + '. ' + p.pregunta + (p.por_que_interesa ? ' (' + p.por_que_interesa + ')' : ''));\nconst texto_preguntas = 'Preguntas propuestas para \"' + req.tema + '\":\\n' + lineas.join('\\n');\nconst email_html = '<div style=\"font-family:Segoe UI,Arial,sans-serif;max-width:640px;margin:auto\">'\n  + '<h2>ResearchFlow: preguntas propuestas</h2><p><strong>Tema:</strong> ' + req.tema + '</p><ol>'\n  + preguntas.map(p => '<li><strong>' + p.pregunta + '</strong>' + (p.por_que_interesa ? '<br><em>' + p.por_que_interesa + '</em>' : '') + '</li>').join('')\n  + '</ol><p>Para lanzar la investigacion completa, vuelve a la landing con la pregunta elegida, o responde por WhatsApp con \"investigar N\" si la idea quedo en tu backlog.</p></div>';\nconst sqlIdea = \"INSERT INTO research_ideas (origen, idea_original, tema_refinado, preguntas_sugeridas, estado\" + (reqId ? \", request_id\" : \"\") + \") VALUES ('landing', '\" + esc(req.tema).slice(0, 1000) + \"', '\" + esc(r.tema_refinado || req.tema).slice(0, 200) + \"', '\" + esc(JSON.stringify(preguntas)) + \"', 'refinada'\" + (reqId ? \", \" + reqId : \"\") + \");\";\nconst sqlEstado = reqId ? \" UPDATE research_requests SET estado='preguntas_generadas', resumen='\" + esc(texto_preguntas).slice(0, 1500) + \"', updated_at=NOW() WHERE id=\" + reqId + \";\" : '';\nreturn [{ json: { ...req, request_id: reqId, preguntas, tema_refinado: r.tema_refinado || req.tema, texto_preguntas, email_html, sql_idea: sqlIdea + sqlEstado } }];\n"
      },
      "id": "rf-0022",
      "name": "Procesar preguntas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_idea }}",
        "options": {}
      },
      "id": "rf-0023",
      "name": "Postgres - Guardar idea",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1760,
        260
      ],
      "notes": "Guarda el tema y las preguntas propuestas en el backlog research_ideas.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Procesar preguntas').first().json.email }}",
        "subject": "={{ 'ResearchFlow - Preguntas propuestas: ' + $('Procesar preguntas').first().json.tema }}",
        "emailType": "html",
        "message": "={{ $('Procesar preguntas').first().json.email_html }}",
        "options": {}
      },
      "id": "rf-0024",
      "name": "Gmail - Enviar preguntas",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        260
      ],
      "notes": "Asignar credencial Gmail OAuth2.",
      "continueOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "42DoFh3hjEi0OKme",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, modo: 'preguntas_generadas', tema: $('Procesar preguntas').first().json.tema, tema_refinado: $('Procesar preguntas').first().json.tema_refinado, preguntas: $('Procesar preguntas').first().json.preguntas, request_id: $('Procesar preguntas').first().json.request_id } }}",
        "options": {}
      },
      "id": "rf-0025",
      "name": "Responder preguntas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2200,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(response) {\n  const parts = response?.candidates?.[0]?.content?.parts || [];\n  return parts.map((part) => part.text || '').join('\\n').trim();\n}\n\nfunction parseJsonText(value) {\n  if (!value) return null;\n  const text = String(value)\n    .trim()\n    .replace(/^\\x60\\x60\\x60json\\s*/i, '')\n    .replace(/^\\x60\\x60\\x60\\s*/i, '')\n    .replace(/\\x60\\x60\\x60\\s*$/i, '')\n    .trim();\n  try { return JSON.parse(text); } catch (error) {\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n    try { return JSON.parse(match[0]); } catch (nestedError) { return null; }\n  }\n}\n\nconst array = (value) => Array.isArray(value) ? value : [];\nconst context = $('Preparar sintesis').first().json;\nconst response = $input.first().json || {};\nconst rawText = extractText(response);\nconst parsed = parseJsonText(rawText);\nconst structurallyValid = Boolean(\n  parsed && typeof parsed === 'object' && !Array.isArray(parsed) &&\n  (parsed.resumen || parsed.respuesta_corta || Array.isArray(parsed.hechos) || Array.isArray(parsed.datasets))\n);\n\nlet executionId = '';\ntry { executionId = String($execution.id || ''); } catch (error) { executionId = ''; }\nif (!executionId) executionId = 'candidate-' + Date.now();\n\nif (!structurallyValid) {\n  return [{ json: {\n    ...context,\n    execution_id: executionId,\n    sintesis_original: {},\n    sintesis_raw: rawText,\n    sintesis_valida: false,\n    auditable: false,\n    motivo_no_auditable: response.error ? 'error_sintesis' : 'sintesis_json_invalida',\n    hechos_esperados: [],\n    datos_esperados: [],\n    hechos_no_auditados: [],\n    datos_no_auditados: [],\n  } }];\n}\n\nconst hechos = array(parsed.hechos).map((item, index) => {\n  const hecho = typeof item === 'string' ? { afirmacion: item, fuente_url: '' } : item || {};\n  return {\n    audit_id: 'H' + (index + 1),\n    afirmacion: String(hecho.afirmacion || '').trim(),\n    fuente_url: String(hecho.fuente_url || '').trim(),\n  };\n}).filter((item) => item.afirmacion);\n\nconst datasets = array(parsed.datasets).map((dataset, datasetIndex) => ({\n  ...(dataset || {}),\n  datos: array(dataset?.datos).map((point, pointIndex) => ({\n    ...(point || {}),\n    audit_id: 'D' + (datasetIndex + 1) + '-P' + (pointIndex + 1),\n  })),\n}));\n\nconst datos = [];\nfor (const dataset of datasets) {\n  for (const point of array(dataset.datos)) {\n    if (point.etiqueta == null || !Number.isFinite(Number(point.valor))) continue;\n    datos.push({\n      id: point.audit_id,\n      dataset: String(dataset.titulo || ''),\n      etiqueta: String(point.etiqueta),\n      valor: Number(point.valor),\n      unidad: String(point.unidad || ''),\n      periodo: String(point.periodo || ''),\n      fuente_url_original: String(point.fuente_url || ''),\n    });\n  }\n}\n\nconst MAX_HECHOS = 20;\nconst MAX_DATOS = 40;\nconst hechosEsperados = hechos.slice(0, MAX_HECHOS).map((item) => item.audit_id);\nconst datosEsperados = datos.slice(0, MAX_DATOS).map((item) => item.id);\nconst citas = [];\nconst seenUrls = new Set();\nfor (const item of array(context.citas_total)) {\n  const url = String(item?.url || '').trim();\n  if (!url || seenUrls.has(url)) continue;\n  seenUrls.add(url);\n  citas.push({ titulo: String(item?.titulo || url), url });\n}\n\nconst auditPayload = {\n  pregunta: String(context.pregunta || ''),\n  hechos: hechos.slice(0, MAX_HECHOS).map((item) => ({\n    id: item.audit_id,\n    afirmacion: item.afirmacion,\n    fuente_url_original: item.fuente_url,\n  })),\n  datos: datos.slice(0, MAX_DATOS),\n  citas_disponibles: citas,\n};\n\nconst prompt = [\n  'Actua como auditor adversarial de ResearchFlow.',\n  'Verifica cada afirmacion y cada cifra mediante busqueda web. No reescribas el articulo.',\n  'No confies automaticamente en las URLs originales: contrastalas.',\n  'Conserva exactamente los identificadores recibidos y responde todos una sola vez.',\n  'Un elemento verificado debe incluir al menos una fuente que realmente lo soporte.',\n  'Estados para hechos: verificado, dudoso, sin_fuente, reclasificar_hipotesis.',\n  'Estados para datos: verificado, dudoso, sin_fuente.',\n  'Tipos de fuente: oficial, primaria, medio_investigacion, analisis, otro.',\n  '',\n  'Devuelve SOLO JSON valido con esta forma:',\n  '{',\n  '  \"hechos\": [{\"id\":\"H1\",\"estado\":\"verificado\",\"nota\":\"...\",\"fuentes\":[{\"titulo\":\"...\",\"url\":\"https://...\",\"tipo\":\"oficial\",\"soporta\":true}]}],',\n  '  \"datos\": [{\"id\":\"D1-P1\",\"estado\":\"verificado\",\"nota\":\"...\",\"fuentes\":[{\"titulo\":\"...\",\"url\":\"https://...\",\"tipo\":\"primaria\",\"soporta\":true}]}],',\n  '  \"contradicciones\": [{\"descripcion\":\"...\",\"ids\":[\"H1\"],\"gravedad\":\"baja|media|alta\"}],',\n  '  \"limitaciones\": [\"...\"],',\n  '  \"recomendaciones\": [\"...\"]',\n  '}',\n  '',\n  'ELEMENTOS A AUDITAR:',\n  JSON.stringify(auditPayload),\n].join('\\n');\n\nconst sintesisOriginal = {\n  ...parsed,\n  hechos,\n  datasets,\n};\nconst totalAuditables = hechos.length + datos.length;\n\nreturn [{ json: {\n  ...context,\n  execution_id: executionId,\n  sintesis_original: sintesisOriginal,\n  sintesis_raw: rawText,\n  sintesis_valida: true,\n  auditable: totalAuditables > 0,\n  motivo_no_auditable: totalAuditables > 0 ? '' : 'sin_elementos_auditables',\n  prompt_verificacion: prompt,\n  hechos_esperados: hechosEsperados,\n  datos_esperados: datosEsperados,\n  hechos_no_auditados: hechos.slice(MAX_HECHOS).map((item) => item.audit_id),\n  datos_no_auditados: datos.slice(MAX_DATOS).map((item) => item.id),\n} }];\n"
      },
      "id": "rf-v3-001",
      "name": "Preparar auditoria V3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -140
      ],
      "notes": "Parsea la sintesis, asigna IDs estables y crea el contrato acotado para el auditor."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-v3-auditable",
              "leftValue": "={{ $json.auditable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "rf-v3-002",
      "name": "IF - Sintesis auditable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ role: 'user', parts: [{ text: $json.prompt_verificacion }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0 } } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "rf-v3-003",
      "name": "Gemini - Verificacion adversarial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        -260
      ],
      "notes": "Audita hechos y cifras con Google Search grounding. No calcula el puntaje.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractText(response) {\n  const parts = response?.candidates?.[0]?.content?.parts || [];\n  return parts.map((part) => part.text || '').join('\\n').trim();\n}\n\nfunction parseJsonText(value) {\n  if (!value) return null;\n  const text = String(value)\n    .trim()\n    .replace(/^\\x60\\x60\\x60json\\s*/i, '')\n    .replace(/^\\x60\\x60\\x60\\s*/i, '')\n    .replace(/\\x60\\x60\\x60\\s*$/i, '')\n    .trim();\n  try { return JSON.parse(text); } catch (error) {\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n    try { return JSON.parse(match[0]); } catch (nestedError) { return null; }\n  }\n}\n\nconst array = (value) => Array.isArray(value) ? value : [];\nconst validUrl = (value) => /^https?:\\/\\//i.test(String(value || '').trim());\nconst previous = $('Preparar auditoria V3').first().json;\nconst response = $input.first().json || {};\nconst rawText = extractText(response);\nconst parsed = parseJsonText(rawText);\nconst errors = [];\nconst factStates = new Set(['verificado', 'dudoso', 'sin_fuente', 'reclasificar_hipotesis']);\nconst dataStates = new Set(['verificado', 'dudoso', 'sin_fuente']);\nconst sourceTypes = new Set(['oficial', 'primaria', 'medio_investigacion', 'analisis', 'otro']);\n\nfunction normalizeSources(value) {\n  const output = [];\n  const seen = new Set();\n  for (const source of array(value)) {\n    const url = String(source?.url || '').trim();\n    if (!validUrl(url) || seen.has(url)) continue;\n    seen.add(url);\n    const type = String(source?.tipo || 'otro');\n    output.push({\n      titulo: String(source?.titulo || url),\n      url,\n      tipo: sourceTypes.has(type) ? type : 'otro',\n      soporta: source?.soporta !== false,\n    });\n  }\n  return output;\n}\n\nfunction normalizeEntries(value, expectedIds, allowedStates, kind) {\n  if (!Array.isArray(value)) {\n    errors.push(kind + '_no_es_array');\n    return [];\n  }\n  const expected = new Set(expectedIds);\n  const seen = new Set();\n  const normalized = [];\n  for (const item of value) {\n    const id = String(item?.id || '');\n    const state = String(item?.estado || '');\n    if (!expected.has(id)) { errors.push(kind + '_id_desconocido:' + id); continue; }\n    if (seen.has(id)) { errors.push(kind + '_id_duplicado:' + id); continue; }\n    if (!allowedStates.has(state)) { errors.push(kind + '_estado_invalido:' + id); continue; }\n    seen.add(id);\n    const sources = normalizeSources(item?.fuentes);\n    if (state === 'verificado' && !sources.some((source) => source.soporta)) {\n      errors.push(kind + '_verificado_sin_fuente:' + id);\n    }\n    normalized.push({\n      id,\n      estado: state,\n      nota: String(item?.nota || '').slice(0, 1200),\n      fuentes: sources,\n    });\n  }\n  for (const id of expected) if (!seen.has(id)) errors.push(kind + '_id_faltante:' + id);\n  return normalized;\n}\n\nlet facts = [];\nlet data = [];\nif (!parsed || typeof parsed !== 'object' || Array.isArray(parsed)) {\n  errors.push(response.error ? 'error_http_auditor' : 'auditoria_json_invalida');\n} else {\n  facts = normalizeEntries(parsed.hechos, previous.hechos_esperados || [], factStates, 'hecho');\n  data = normalizeEntries(parsed.datos, previous.datos_esperados || [], dataStates, 'dato');\n}\n\nconst groundingSources = [];\nconst groundingSeen = new Set();\nconst chunks = response?.candidates?.[0]?.groundingMetadata?.groundingChunks || [];\nfor (const chunk of chunks) {\n  const web = chunk?.web || {};\n  const url = String(web.uri || '').trim();\n  if (!validUrl(url) || groundingSeen.has(url)) continue;\n  groundingSeen.add(url);\n  groundingSources.push({ titulo: String(web.title || url), url, tipo: 'otro', soporta: true });\n}\n\nconst contradictions = array(parsed?.contradicciones).map((item) => ({\n  descripcion: String(item?.descripcion || item || '').slice(0, 1600),\n  ids: array(item?.ids).map(String),\n  gravedad: ['baja', 'media', 'alta'].includes(String(item?.gravedad)) ? String(item.gravedad) : 'media',\n})).filter((item) => item.descripcion);\n\nconst audit = {\n  hechos: facts,\n  datos: data,\n  contradicciones: contradictions,\n  limitaciones: array(parsed?.limitaciones).map(String).filter(Boolean),\n  recomendaciones: array(parsed?.recomendaciones).map(String).filter(Boolean),\n  fuentes_grounding: groundingSources,\n};\n\nreturn [{ json: {\n  ...previous,\n  auditoria_valida: errors.length === 0,\n  errores_auditoria: errors,\n  auditoria_raw_text: rawText,\n  auditoria_raw: parsed,\n  auditoria_validada: audit,\n} }];\n"
      },
      "id": "rf-v3-004",
      "name": "Validar auditoria V3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        -260
      ],
      "notes": "Valida JSON, IDs, estados y fuentes. Un verificado sin fuente invalida la auditoria."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-v3-audit-valid",
              "leftValue": "={{ $json.auditoria_valida }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "rf-v3-005",
      "name": "IF - Auditoria valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3520,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst array = (value) => Array.isArray(value) ? value : [];\nconst previous = $input.first().json;\nconst original = previous.sintesis_original || {};\nconst validated = previous.auditoria_validada || {};\nconst factMap = new Map(array(validated.hechos).map((item) => [item.id, item]));\nconst dataMap = new Map(array(validated.datos).map((item) => [item.id, item]));\nconst verifiedFacts = [];\nconst pending = [];\nconst hypotheses = array(original.hipotesis).map(String);\nconst auditorSources = [];\nconst sourceSeen = new Set();\n\nfunction addSource(source) {\n  const url = String(source?.url || '').trim();\n  if (!url || sourceSeen.has(url)) return;\n  sourceSeen.add(url);\n  auditorSources.push({\n    titulo: String(source?.titulo || url),\n    url,\n    tipo: String(source?.tipo || 'otro'),\n    confianza: source?.soporta === false ? 'baja' : 'alta',\n  });\n}\n\nfor (const fact of array(original.hechos)) {\n  const verdict = factMap.get(fact.audit_id) || {\n    id: fact.audit_id,\n    estado: 'no_auditado',\n    nota: 'No entro en el limite de esta auditoria.',\n    fuentes: [],\n  };\n  for (const source of array(verdict.fuentes)) addSource(source);\n  if (verdict.estado === 'verificado') {\n    const supporting = array(verdict.fuentes).find((source) => source.soporta !== false);\n    verifiedFacts.push({\n      afirmacion: fact.afirmacion,\n      fuente_url: String(supporting?.url || fact.fuente_url || ''),\n      audit_id: fact.audit_id,\n      verificacion: verdict,\n    });\n  } else if (verdict.estado === 'reclasificar_hipotesis') {\n    hypotheses.push(fact.afirmacion);\n  } else {\n    pending.push({\n      audit_id: fact.audit_id,\n      afirmacion: fact.afirmacion,\n      estado: verdict.estado,\n      nota: verdict.nota || '',\n      fuentes: array(verdict.fuentes),\n    });\n  }\n}\n\nconst verifiedDatasets = [];\nconst pendingData = [];\nfor (const dataset of array(original.datasets)) {\n  const points = [];\n  for (const point of array(dataset.datos)) {\n    const verdict = dataMap.get(point.audit_id) || {\n      id: point.audit_id,\n      estado: 'no_auditado',\n      nota: 'No entro en el limite de esta auditoria.',\n      fuentes: [],\n    };\n    for (const source of array(verdict.fuentes)) addSource(source);\n    if (verdict.estado === 'verificado') {\n      const supporting = array(verdict.fuentes).find((source) => source.soporta !== false);\n      points.push({\n        ...point,\n        fuente_url: String(supporting?.url || point.fuente_url || ''),\n        verificacion: verdict,\n      });\n    } else {\n      pendingData.push({\n        audit_id: point.audit_id,\n        dataset: String(dataset.titulo || ''),\n        etiqueta: String(point.etiqueta || ''),\n        valor: point.valor,\n        estado: verdict.estado,\n        nota: verdict.nota || '',\n      });\n    }\n  }\n  if (points.length >= 2) verifiedDatasets.push({ ...dataset, datos: points });\n}\n\nconst originalSources = array(original.fuentes).map((source) => ({\n  titulo: String(source?.titulo || source?.url || ''),\n  url: String(source?.url || ''),\n  tipo: String(source?.tipo || 'otro'),\n  confianza: String(source?.confianza || 'media'),\n})).filter((source) => source.url);\nfor (const source of originalSources) {\n  if (!sourceSeen.has(source.url)) {\n    sourceSeen.add(source.url);\n    auditorSources.push(source);\n  }\n}\nfor (const source of array(validated.fuentes_grounding)) addSource(source);\n\nconst factTotal = array(original.hechos).length;\nconst dataTotal = array(original.datasets).reduce((sum, dataset) => sum + array(dataset?.datos).filter((point) => point?.etiqueta != null && Number.isFinite(Number(point?.valor))).length, 0);\nconst factVerified = verifiedFacts.length;\nconst dataVerified = array(validated.datos).filter((item) => item.estado === 'verificado').length;\nconst categories = [];\nif (factTotal > 0) categories.push({ weight: 0.7, ratio: factVerified / factTotal });\nif (dataTotal > 0) categories.push({ weight: 0.3, ratio: dataVerified / dataTotal });\nconst weightTotal = categories.reduce((sum, item) => sum + item.weight, 0);\nconst score = weightTotal > 0\n  ? Math.max(0, Math.min(100, Math.round(100 * categories.reduce((sum, item) => sum + item.weight * item.ratio, 0) / weightTotal)))\n  : null;\nconst level = score == null ? 'no_aplicable' : (score >= 85 ? 'alto' : (score >= 60 ? 'medio' : 'bajo'));\nconst auditedCount = factMap.size + dataMap.size;\nconst totalCount = factTotal + dataTotal;\nconst status = totalCount === 0 ? 'no_aplicable' : (auditedCount < totalCount ? 'parcial' : 'completa');\nconst supportingSources = array(validated.hechos)\n  .concat(array(validated.datos))\n  .filter((item) => item.estado === 'verificado')\n  .flatMap((item) => array(item.fuentes).filter((source) => source.soporta !== false));\nconst strongSources = supportingSources.filter((source) => ['oficial', 'primaria'].includes(source.tipo));\nconst strongRatio = supportingSources.length ? strongSources.length / supportingSources.length : 0;\nconst sourceQuality = supportingSources.length === 0 ? 'no_disponible' : (strongRatio >= 0.6 ? 'alta' : (strongRatio >= 0.3 ? 'media' : 'baja'));\nconst verdict = score == null\n  ? 'No habia elementos auditables.'\n  : 'Se verificaron ' + (factVerified + dataVerified) + ' de ' + totalCount + ' elementos auditables.';\n\nconst reconciled = {\n  ...original,\n  hechos: verifiedFacts,\n  hipotesis: Array.from(new Set(hypotheses.filter(Boolean))),\n  datasets: verifiedDatasets,\n  fuentes: auditorSources,\n  articulo_markdown: '',\n};\n\nreturn [{ json: {\n  ...previous,\n  sintesis_reconciliada: reconciled,\n  pendientes_verificacion: pending,\n  datos_pendientes_verificacion: pendingData,\n  auditoria: {\n    estado: status,\n    puntaje: score,\n    nivel: level,\n    calidad_fuentes: sourceQuality,\n    veredicto: verdict,\n    hechos: array(validated.hechos),\n    datos: array(validated.datos),\n    fuentes: auditorSources,\n    contradicciones: array(validated.contradicciones),\n    limitaciones: array(validated.limitaciones),\n    recomendaciones: array(validated.recomendaciones),\n    respuesta_cruda: previous.auditoria_raw,\n    respuesta_validada: validated,\n    conteos: {\n      hechos_total: factTotal,\n      hechos_verificados: factVerified,\n      datos_total: dataTotal,\n      datos_verificados: dataVerified,\n    },\n  },\n} }];\n"
      },
      "id": "rf-v3-006",
      "name": "Reconciliar auditoria V3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        -340
      ],
      "notes": "Aplica los veredictos, excluye cifras rechazadas y calcula el puntaje de cobertura de forma determinista."
    },
    {
      "parameters": {
        "jsCode": "\nconst array = (value) => Array.isArray(value) ? value : [];\nconst previous = $input.first().json;\nconst original = previous.sintesis_original || {};\nconst noApplicable = previous.motivo_no_auditable === 'sin_elementos_auditables';\nconst status = noApplicable ? 'no_aplicable' : 'no_disponible';\nconst facts = array(original.hechos);\nconst pending = noApplicable ? [] : facts.map((fact) => ({\n  audit_id: String(fact?.audit_id || ''),\n  afirmacion: String(fact?.afirmacion || ''),\n  estado: 'no_auditado',\n  nota: 'La verificacion adversarial no estuvo disponible.',\n  fuentes: [],\n})).filter((fact) => fact.afirmacion);\nconst dataTotal = array(original.datasets).reduce((sum, dataset) => sum + array(dataset?.datos).length, 0);\nconst reconciled = {\n  ...original,\n  hechos: noApplicable ? facts : [],\n  datasets: noApplicable ? array(original.datasets) : [],\n  articulo_markdown: '',\n};\nconst reason = array(previous.errores_auditoria).length\n  ? previous.errores_auditoria.join('; ')\n  : String(previous.motivo_no_auditable || 'auditor_no_disponible');\n\nreturn [{ json: {\n  ...previous,\n  sintesis_reconciliada: reconciled,\n  pendientes_verificacion: pending,\n  datos_pendientes_verificacion: [],\n  auditoria: {\n    estado: status,\n    puntaje: null,\n    nivel: status,\n    calidad_fuentes: 'no_disponible',\n    veredicto: noApplicable ? 'No habia elementos auditables.' : 'Verificacion no disponible: ' + reason,\n    hechos: [],\n    datos: [],\n    fuentes: [],\n    contradicciones: [],\n    limitaciones: noApplicable ? [] : ['La entrega no fue auditada de forma adversarial.'],\n    recomendaciones: [],\n    respuesta_cruda: previous.auditoria_raw || null,\n    respuesta_validada: null,\n    conteos: {\n      hechos_total: facts.length,\n      hechos_verificados: 0,\n      datos_total: dataTotal,\n      datos_verificados: 0,\n    },\n  },\n} }];\n"
      },
      "id": "rf-v3-007",
      "name": "Marcar verificacion no disponible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        20
      ],
      "notes": "Ruta explicita para sintesis no auditable, auditor invalido o auditoria no aplicable. Nunca inventa puntaje."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input AS (\n  SELECT\n    $1::int AS request_id,\n    $2::text AS execution_id,\n    $3::text AS estado,\n    $4::int AS puntaje,\n    $5::text AS nivel,\n    $6::text AS calidad_fuentes,\n    $7::text AS auditor_modelo,\n    $8::jsonb AS hechos,\n    $9::jsonb AS datos,\n    $10::jsonb AS fuentes,\n    $11::jsonb AS contradicciones,\n    $12::jsonb AS limitaciones,\n    $13::jsonb AS respuesta_cruda,\n    $14::jsonb AS respuesta_validada,\n    $15::text AS veredicto\n), upserted AS (\n  INSERT INTO research_verifications (\n    request_id, execution_id, estado, puntaje, nivel, calidad_fuentes,\n    auditor_modelo, hechos_auditados, datos_auditados, fuentes_verificacion,\n    contradicciones, limitaciones, respuesta_cruda, respuesta_validada, veredicto\n  )\n  SELECT request_id, execution_id, estado, puntaje, nivel, calidad_fuentes,\n    auditor_modelo, hechos, datos, fuentes, contradicciones, limitaciones,\n    respuesta_cruda, respuesta_validada, veredicto\n  FROM input WHERE request_id > 0\n  ON CONFLICT (request_id, execution_id) DO UPDATE SET\n    estado = EXCLUDED.estado,\n    puntaje = EXCLUDED.puntaje,\n    nivel = EXCLUDED.nivel,\n    calidad_fuentes = EXCLUDED.calidad_fuentes,\n    auditor_modelo = EXCLUDED.auditor_modelo,\n    hechos_auditados = EXCLUDED.hechos_auditados,\n    datos_auditados = EXCLUDED.datos_auditados,\n    fuentes_verificacion = EXCLUDED.fuentes_verificacion,\n    contradicciones = EXCLUDED.contradicciones,\n    limitaciones = EXCLUDED.limitaciones,\n    respuesta_cruda = EXCLUDED.respuesta_cruda,\n    respuesta_validada = EXCLUDED.respuesta_validada,\n    veredicto = EXCLUDED.veredicto,\n    updated_at = NOW()\n  RETURNING request_id, estado, puntaje, nivel, calidad_fuentes, veredicto\n), updated AS (\n  UPDATE research_requests AS request SET\n    estado_verificacion = upserted.estado,\n    puntaje_verificacion = upserted.puntaje,\n    nivel_verificacion = upserted.nivel,\n    calidad_fuentes_verificacion = upserted.calidad_fuentes,\n    veredicto_verificacion = upserted.veredicto,\n    verificacion_updated_at = NOW()\n  FROM upserted WHERE request.id = upserted.request_id\n  RETURNING request.id\n)\nSELECT\n  COALESCE((SELECT request_id FROM upserted LIMIT 1), 0) AS request_id,\n  COALESCE((SELECT estado FROM upserted LIMIT 1), 'sin_request_id') AS estado_verificacion;",
        "options": {
          "queryReplacement": "={{ $json.verification_params }}"
        }
      },
      "id": "rf-v3-008",
      "name": "Postgres - Guardar verificacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4180,
        -140
      ],
      "notes": "Upsert idempotente por request_id + execution_id y actualizacion del ultimo estado de verificacion.",
      "continueOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fpD1FhKrmqilg5Yk",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Nueva investigacion": {
      "main": [
        [
          {
            "node": "Normalizar solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar solicitud": {
      "main": [
        [
          {
            "node": "Postgres - Registrar solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Registrar solicitud": {
      "main": [
        [
          {
            "node": "Postgres - Cargar playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Cargar playbook": {
      "main": [
        [
          {
            "node": "IF - Con pregunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Con pregunta": {
      "main": [
        [
          {
            "node": "Responder en proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar peticion de preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder en proceso": {
      "main": [
        [
          {
            "node": "Preparar fase base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar fase base": {
      "main": [
        [
          {
            "node": "Gemini - Fase base con busqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Fase base con busqueda": {
      "main": [
        [
          {
            "node": "Preparar profundizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar profundizacion": {
      "main": [
        [
          {
            "node": "Gemini - Profundizar con busqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Profundizar con busqueda": {
      "main": [
        [
          {
            "node": "Preparar sintesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar sintesis": {
      "main": [
        [
          {
            "node": "Gemini - Sintesis estructurada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Sintesis estructurada": {
      "main": [
        [
          {
            "node": "Preparar auditoria V3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar resultado": {
      "main": [
        [
          {
            "node": "Postgres - Guardar verificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Guardar evidencia": {
      "main": [
        [
          {
            "node": "Gmail - Enviar articulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Enviar articulo": {
      "main": [
        [
          {
            "node": "Evolution API - Aviso WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API - Aviso WhatsApp": {
      "main": [
        [
          {
            "node": "Postgres - Actualizar resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Actualizar resultado": {
      "main": [
        [
          {
            "node": "Preparar filas Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar filas Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets - Registrar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar peticion de preguntas": {
      "main": [
        [
          {
            "node": "Gemini - Generar preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generar preguntas": {
      "main": [
        [
          {
            "node": "Procesar preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar preguntas": {
      "main": [
        [
          {
            "node": "Postgres - Guardar idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Guardar idea": {
      "main": [
        [
          {
            "node": "Gmail - Enviar preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Enviar preguntas": {
      "main": [
        [
          {
            "node": "Responder preguntas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar auditoria V3": {
      "main": [
        [
          {
            "node": "IF - Sintesis auditable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Sintesis auditable": {
      "main": [
        [
          {
            "node": "Gemini - Verificacion adversarial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar verificacion no disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Verificacion adversarial": {
      "main": [
        [
          {
            "node": "Validar auditoria V3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar auditoria V3": {
      "main": [
        [
          {
            "node": "IF - Auditoria valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auditoria valida": {
      "main": [
        [
          {
            "node": "Reconciliar auditoria V3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar verificacion no disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconciliar auditoria V3": {
      "main": [
        [
          {
            "node": "Procesar resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar verificacion no disponible": {
      "main": [
        [
          {
            "node": "Procesar resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Guardar verificacion": {
      "main": [
        [
          {
            "node": "Postgres - Guardar evidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": false,
  "versionId": "c467edda-939a-44b1-860f-e60b30cc9521",
  "meta": {
    "templateCredsSetupCompleted": false,
    "researchflowVersion": "3.0.0",
    "verification": "adversarial"
  },
  "id": "TMQnnUSlrZxe7z5C",
  "tags": []
}
